<html lang="en" itemscope="" itemtype="http://schema.org/Article"><head>

  <meta charset="UTF-8">
  <title>Volta - Sidenav only template (light)</title>

  <!-- Replace the following path with the path to your Volta package -->
  <link rel="stylesheet" href="../../dist/css/volta.min.css"> 

  <!-- This is only needed for code snippet so you can remove it if you don't need them -->
  <!-- If you do, you'll have to replace the following path with the path to your Volta package -->
  <link rel="stylesheet" href="../../dist/css/addons/volta-prism.css"> 

  
  <link rel="stylesheet" href="../../dist/css/volta-templates.css">

  
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script></head>
<body class="Vlt-template Vlt-template--sidenav"> 

  		

	<header class="Vlt-sidenav__mobile Vlt-sidenav__mobile--light">
		<img class="Vlt-sidenav__mobile__logo" src="../../images/logos/vonage-logo--collapsed.svg">
		<button id="Vlt-sidenav-mobile-trigger">
			<svg class="Vlt-sidenav__collapse__close">
	        	<use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-menu"></use>
	        </svg>
		</button>
	</header>
	
	<aside id="Vlt-sidenav" class="Vlt-sidenav Vlt-sidenav--light">
		<!-- NOTE: the following script is a hacky solution to maintain the (un)collapsed state of the menu -->
		<!-- You can remove it if you're using a framework or you have an alternative way to achieve this -->
		<script>
	       loadMenu();   
	       function loadMenu() {
	          if(localStorage.getItem('menuCollapse')) {
	            $('#Vlt-sidenav .Vlt-sidemenu__trigger_active').removeClass('Vlt-sidemenu__trigger_active');
	            $('#Vlt-sidenav').addClass('Vlt-sidenav--collapsed');
	          }
	       }
	    </script>
	    <!-- End of script -->

	    <div class="Vlt-sidenav__block Vlt-sidenav__block--logo Vlt-M-plus">
    <a class="Vlt-sidenav__logo">
    	<img class="Vlt-sidenav__elem--full" src="../../images/logos/vonage-logo.svg">
      	<img class="Vlt-sidenav__elem--collapsed" src="../../images/logos/vonage-logo--collapsed.svg">
    </a>
    <div id="Vlt-sidenav-collapse-trigger" class="Vlt-sidenav__collapse">
      <svg class="Vlt-sidenav__collapse__close"><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-chevron-left"></use></svg>
      <svg class="Vlt-sidenav__collapse__open"><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-menu"></use></svg>
    </div>
</div>

	    <div class="Vlt-sidenav__scroll">
	<ul class="Vlt-sidemenu Vlt-sidemenu--rounded">
		<li>
			<a href="" class="Vlt-sidemenu__link">
				<svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-report"></use></svg>
				<span class="Vlt-sidemenu__label">Selected item</span>
			</a>
		</li>
		<li>
			<a class="Vlt-sidemenu__link" href="">
				<svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-whisper"></use></svg>
				<span class="Vlt-sidemenu__label">Unselected first-level item</span>
			</a>
		</li>
		<li>
			<a class="Vlt-sidemenu__link Vlt-sidemenu__link--disabled" href="">
				<svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-phone"></use></svg>
				<span class="Vlt-sidemenu__label">Disabled first-level item</span>
			</a>
		</li>
		<li role="separator"><h5 class="Vlt-sidemenu__title">Nested menu</h5></li>
		<li>
			<p class="Vlt-sidemenu__trigger">
				<svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-merge-2"></use></svg>
				<span class="Vlt-sidemenu__label">Open branch</span>
			</p>
			<ul>
				<li>
					<a class="Vlt-sidemenu__link Vlt-sidemenu__link--disabled" href="">
						<svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-ambulance"></use></svg>
						<span class="Vlt-sidemenu__label">A disabled page</span>
					</a>
				</li>
				<li><a class="Vlt-sidemenu__link" href=""><svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-clipboard-add"></use></svg><span class="Vlt-sidemenu__label">Some other page</span></a></li>
				<li>
					<p class="Vlt-sidemenu__trigger"><svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-tag"></use></svg><span class="Vlt-sidemenu__label">Clickable branch</span></p>
					<ul>
						<li><a class="Vlt-sidemenu__link" href=""><svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-file-search"></use></svg><span class="Vlt-sidemenu__label">Oh more pages</span></a></li>
						<li><a class="Vlt-sidemenu__link" href=""><svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-grid-two"></use></svg><span class="Vlt-sidemenu__label">And again</span></a></li>
						<li><a class="Vlt-sidemenu__link" href=""><svg><use xlink:href="../../dist/symbol/volta-icons.svg#Vlt-icon-cursor"></use></svg><span class="Vlt-sidemenu__label">And this is it</span></a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
	</aside>

	<main class="Vlt-main Vlt-main--light">
		
		<div class="Vlt-card Vlt-article">
			<h1>Your content goes here</h1>

<p>The principle of these templates is both to give you the layout structures we use in our designs, and to give you a quick start for your demo or project.</p>

<h3>Quick 'demo' start</h3>

<ul class="Vlt-list Vlt-list--big-number">
	<li>Download the Volta Components package <a href="http://vonage-ds.herokuapp.com/downloads.html">here</a></li>
	<li>Place it in your site's folder</li>
	<li><p>Replace the paths to <code>volta.min.js</code>, <code>volta.min.css</code> and all the <code>svg</code> images to target the Volta components package you just put in your site's folder</p>

		<pre class="language-html code-toolbar"><code class=" language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>link</span> <span class="token attr-name">rel</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stylesheet<span class="token punctuation">"</span></span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>/assets/vendor/volta/css/volta.css<span class="token punctuation">"</span></span> <span class="token punctuation">/&gt;</span></span>
<span class="token comment">&lt;!-- Becomes --&gt;</span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>link</span> <span class="token attr-name">rel</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stylesheet<span class="token punctuation">"</span></span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><em class="Vlt-grey-dark">[path-to-Volta]</em>/volta/css/volta.css<span class="token punctuation">"</span></span> <span class="token punctuation">/&gt;</span></span>
</code><div class="toolbar"><div class="toolbar-item"><a>Copy</a></div></div></pre>

<pre class="language-html code-toolbar"><code class=" language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span> <span class="token attr-name">src</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>/assets/vendor/volta/js/svgxuse.min.js<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token script language-javascript"></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">&gt;</span></span>
<span class="token comment">&lt;!-- Becomes --&gt;</span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span> <span class="token attr-name">src</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><em class="Vlt-grey-dark">[path-to-Volta]</em>/volta/js/svgxuse.min.js<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token script language-javascript"></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">&gt;</span></span>
</code><div class="toolbar"><div class="toolbar-item"><a>Copy</a></div></div></pre>
	</li>
	<li><p>Check out <a href="http://vonage-ds.herokuapp.com" target="_blank">the Volta Docs</a> for all the other components you could be using here</p></li>
</ul>




		</div>

	</main>


  

<!-- Replace the following paths with the path to your Volta package -->
<script src="../../js/svgxuse.min.js"></script>
<script src="../../dist/js/volta.min.js"></script>


<script>
	Volta.init(['menu', 'menuCollapse']);
</script>



<!-- This is only needed for code snippet so you can remove it if you don't need them -->
<!-- If you do, you'll have to replace the following path with the path to your Volta package -->
<script src="../j../s/addons/prism.js"></script>


</body></html>